* {
    font-family: Helvetica, sans-serif;
    
    color: seashell;
    background-color: black;
    opacity: 0.9;
    box-sizing: border-box;
    text-align: center;
}
header {
    display:flex;
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    position:fixed;
    top:0;
    z-index: 1;
    width:100%;
}
nav{
    min-width: 400px;
    margin-right: 20px;
}
nav ul{   
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li{
    text-decoration: underline;
    font-size: 22px;
}
.logo{
    margin-left: 10px;
}
main{
    margin-top: 69px;
}
.teas figure img{
    max-width: 300px;
}
.banner{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    width: 1200px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.banner h2{
    margin-bottom: 0;
    padding: 10px 0px;
}
.banner h4{
    margin-top: 0;
    padding-bottom: 10px;
}

.teas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}
.teas figure{
    margin: 10px;
}
.locations{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 1200px;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.locations div{
    width: 300px;  
    margin-top: 0px;
}
.locations h4{
    width: 1200px;
    margin-bottom: 0px;

}